# Dependencies
node_modules/

# Build output
dist/

# Test/coverage artifacts
coverage/
*.lcov

# Logs & OS clutter
npm-debug.log*
*.log
.DS_Store
Thumbs.db

# IDE
.idea/workspace.xml
.idea/tasks.xml
